-i https://pypi.org/simple
cffi==1.14.4
future==0.18.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
kociemba==1.2.1
numpy==1.19.5
opencv-python==4.5.1.48
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
