cffi==1.14.4
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.9.0
kiwisolver==1.3.1
kociemba==1.2.1
matplotlib==3.3.4
networkx==2.5
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.1.0
pycparser==2.20
pydocstyle==5.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scipy==1.6.0
six==1.15.0
snowballstemmer==2.1.0
tifffile==2021.1.14
